*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;
}

span {
    color: #D16427;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    background-image: url("./images/background.jpg");
    background-size: 100% 100%;
    width: clamp(43vh, 37vw, 60vh);
    height: 100vh;
}

.left-header {
    position: relative;
    display: flex;
    width: 100vw;
    height: 13.3vh;
    top: 20.3vh;
    background-color: rgba(79, 123, 121, 0.5);
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.left-header text {
    font-size: 9.37vh;
    color: #D9D9D9;
}

.logo {
    width: 13vh;
    height: 13vh;
}

.right-section {
    display: flex;
    width: clamp(60vh, 100vw, 178vh);
    flex-direction: column;
    background-color: #2E4D48;
}

h1,
.right-section p,
.right-section text {
    position: relative;
    font-size: 2.7vh;
    width: 64vh;
    left: clamp(8.16vh, 5.76vw, 8.16vh);
    color: #D9D9D9;
}

.right-section text {
    top: 23vh;
    height: 10vh;
}

.right-section p {
    top: 20.1vh;
    height: 10vh;
}

form {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    top: 22.5vh;
    height: 35vh;
    background-color: #96AFA9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fields {
    height: 25vh;
    width: 88vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 7vh;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    position: relative;
    top: 2vh;
    margin-bottom: 4vh;
    font-weight: 300;
    color: #292F2B;
}

input,
label {
    display: block;
    position: relative;
    font-size: 1.35vh;
    left: clamp(8.16vh, 5.76vw, 8.16vh);
    width: 30vh;
}

input {
    background-color: #D9D9D9;
    width: 30vh;
    height: 4.3vh;
    border-radius: 0.5vh;
    border: 0.28vh #2E4D48 solid;
}