*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    background-image: url("./images/background.jpg");
    background-size: 100% 100%;
    width: clamp(45vh, 37vw, 60vh);
    height: 100vh;
}

.left-header {
    position: relative;
    display: flex;
    width: clamp(45vh, 37vw, 60vh);
    height: 13.3vh;
    top: 20.3vh;
    background-color: rgba(79, 123, 121, 0.5);
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.left-header text {
    font-size: 9.37vh;
    color: #D9D9D9;
}

.logo {
    width: 13vh;
    height: 13vh;
}

.footer-link {
    display: flex;
    position: relative;
    top: 82vh;
    color: #E0E0E0;
    align-self: center;
    font-size: 1.8vh;
}

.right-section {
    display: flex;
    width: clamp(60vh, 100vw, 178vh);
    flex-direction: column;
    background-color: #2E4D48;
}

h1,
.right-section p,
.right-section text {
    position: relative;
    font-size: 2.7vh;
    width: 64vh;
    left: clamp(8.16vh, 5.76vw, 8.16vh);
    color: #D9D9D9;
}

.right-section text {
    top: 23vh;
    height: 10vh;
}

.right-section p {
    top: 20.1vh;
    height: 10vh;
}

span {
    color: #D16427;
}

h1 {
    top: 2vh;
    margin-bottom: 4vh;
    font-weight: 300;
    color: #292F2B;
}

form {
    appearance: none;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    top: 22.5vh;
    height: 35vh;
    background-color: #96AFA9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fields {
    height: 25vh;
    width: 88vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 7vh;
    justify-content: flex-start;
    align-items: center;
}

.field,
label {
    appearance: none;
    display: block;
    position: relative;
    font-size: 1.35vh;
    left: clamp(8.16vh, 5.76vw, 8.16vh);
    width: 30vh;
}

.field {
    background-color: #D9D9D9;
    height: 4.3vh;
    border-radius: 0.5vh;
    border: 0.28vh #2E4D48 solid;
    padding: 0.5vh;
    font-size: 2vh;
    
}

.create-account {
    position: relative;
    left: clamp(8.16vh, 5.76vw, 8.16vh);
    top: 27vh;
    width: 21vh;
    height: 7vh;
    font-size: 1.95vh;
    color: #D9D9D9;
    background-color: #2B2D28;
    border: 0.28vh #96AFA9 solid;
    border-radius: 0.5vh;
}

.text-login {
    position: relative;
    top: 28vh;
    left: clamp(8.16vh, 5.76vw, 8.16vh);
    font-size: 1.6vh;
    color: #D9D9D9;
    width: 22vh;
}

a {
    outline: none;
    text-decoration: none;
    color: #D16427;
}

a:hover {
    color:#fc5c00;
}

.field:focus {
    appearance: none;
    outline: none;
    border: 0.28vh #4c7a73 solid;
    background-color: #ebeaea;
}

.field:hover {
    border: 0.28vh #3a645e solid;
}

.create-account:hover {
    background-color: #3a3f3c;
}

.create-account:active {
    top: 27.2vh;
}

::placeholder {
    opacity: 0.4;
    font-size: 1.35vh;
}